ul(class="nav justify-content-center")
    li(class="nav-item")
        a(class="nav-link active" aria-current="page" href="#" Active)
    li(class="nav-item")
        a(class="nav-link" href="#")="Link"
    li(class="nav-item")
        a(class="nav-link" href="#")="Link"
    li(class="nav-item")
        a(class="nav-link disabled")="Disabled"